@media only screen and (min-width: 821px) {
  html {
    font-size: calc(0.6vw + 0.6vh);
  }
  @font-face {
    font-family: "DyslexicFont";
    src: url("../resources/fonts/OpenDyslexic/OpenDyslexic-Regular.otf");
  }
  body {
    font-family: "DyslexicFont";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #4a4a4a;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  body > .img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
  body > .img img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  body > .img img:first-of-type {
    z-index: -10;
  }
  body > .img img:last-of-type {
    z-index: -9;
  }
  body .banner {
    width: 40%;
    height: 100%;
    position: relative;
  }
  body .banner > .titels {
    text-align: center;
    width: 100%;
    margin: 1rem 0rem;
    padding: 0;
  }
  body .banner > .titels h1 {
    width: 100%;
    font-size: 5rem;
    margin: 0;
  }
  body .banner > .titels hr {
    width: 60%;
    height: 0.3rem;
    background-color: #000;
    border-radius: 0.1rem;
    border-style: none;
    border-width: 0;
    margin: 0 auto;
  }
  body .banner > .titels h3 {
    margin: 0 auto;
    width: 80%;
    font-size: 3rem;
  }
  body > aside {
    width: 50%;
    height: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > aside > p, body > aside > form {
    background-color: #d9d9d9;
    box-shadow: 0.5rem 0.5rem 0 #56696d;
    font-size: 2rem;
    border-radius: 0.7rem;
    border-style: none;
    border-width: 0rem;
    margin: 1rem 0;
    padding: 0.5rem;
    width: calc(100% - 1rem);
  }
  body > aside > form {
    display: flex;
    flex-direction: column;
  }
  body > aside > form > h5 {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  body > aside > button {
    background-color: #d9d9d9;
    box-shadow: 0.5rem 0.5rem 0 #56696d;
    font-family: "DyslexicFont";
    border-radius: 0.7rem;
    border-style: none;
    border-width: 0rem;
    margin: 1rem 0;
    width: 100%;
    height: 6rem;
    font-size: 4.8rem;
    line-height: 1em;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  }
  body > aside > button:hover {
    background-color: #d9d9d9;
    box-shadow: 0.65rem 0.65rem 0 #56696d;
    color: rgb(62, 62, 62);
  }
  body > nav {
    position: absolute;
    z-index: 10;
    width: 50%;
    bottom: 1rem;
    left: 0;
  }
  body > nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  body > nav ul > li {
    margin: 0 0.5rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0 #678085;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
  body > nav ul > li a {
    text-decoration: none;
    color: black;
    transition: color 0.2s;
  }
  body > nav ul > li span {
    font-size: 10rem !important;
  }
  body > nav ul > li:hover {
    background-color: #d9d9d9;
    box-shadow: 0.65rem 0.65rem 0 #56696d;
  }
  body > nav ul > li:hover a {
    color: rgb(62, 62, 62);
  }
}
@media only screen and (max-width: 820px) {
  html {
    font-size: calc(0.6vw + 0.6vh);
  }
  @font-face {
    font-family: "DyslexicFont";
    src: url("../resources/fonts/OpenDyslexic/OpenDyslexic-Regular.otf");
  }
  body {
    font-family: "DyslexicFont";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #4a4a4a;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  body > .img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
  body > .img img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  body > .img img:first-of-type {
    z-index: -10;
  }
  body > .img img:last-of-type {
    z-index: -9;
  }
  body .banner {
    width: 40%;
    height: 100%;
    position: relative;
  }
  body .banner > .titels {
    text-align: center;
    width: 100%;
    margin: 1rem 0rem;
    padding: 0;
  }
  body .banner > .titels h1 {
    width: 100%;
    font-size: 3rem;
    margin: 0;
  }
  body .banner > .titels hr {
    width: 60%;
    height: 0.3rem;
    background-color: #000;
    border-radius: 0.1rem;
    border-style: none;
    border-width: 0;
    margin: 0 auto;
  }
  body .banner > .titels h3 {
    margin: 0 auto;
    width: 80%;
    font-size: 1.5rem;
  }
  body > aside {
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > aside p,
  body > aside form {
    background-color: #d9d9d9;
    box-shadow: 0.5rem 0.5rem 0 #56696d;
    font-size: 2rem;
    border-radius: 0.7rem;
    border-style: none;
    border-width: 0rem;
    margin: 2rem 0;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }
  body > aside .sub {
    background-color: grey;
    box-shadow: 0.5rem 0.5rem 0 #56696d;
    font-size: 2rem;
    border-radius: 0.7rem;
    border-style: none;
    border-width: 0rem;
    margin: 2rem 0;
    padding: 0.5rem;
    width: 150%;
    text-align: center;
  }
  body > aside > form {
    display: flex;
    flex-direction: column;
  }
  body > aside > form > h5 {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  body > aside > button {
    background-color: #d9d9d9;
    box-shadow: 0.5rem 0.5rem 0 #56696d;
    font-family: "DyslexicFont";
    border-radius: 0.7rem;
    border-style: none;
    border-width: 0rem;
    margin: 1rem 0;
    width: 100%;
    font-size: 2.2rem;
    line-height: 1em;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  }
  body > aside > button:hover {
    background-color: #d9d9d9;
    box-shadow: 0.65rem 0.65rem 0 #56696d;
    color: rgb(62, 62, 62);
  }
  body > nav {
    position: absolute;
    z-index: 10;
    width: 50%;
    bottom: 1rem;
    left: 0;
  }
  body > nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  body > nav ul > li {
    margin: 0 0.5rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0 #678085;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
  body > nav ul > li a {
    text-decoration: none;
    color: black;
    transition: color 0.2s;
  }
  body > nav ul > li span {
    font-size: 10rem !important;
  }
  body > nav ul > li:hover {
    background-color: #d9d9d9;
    box-shadow: 0.65rem 0.65rem 0 #56696d;
  }
  body > nav ul > li:hover a {
    color: rgb(62, 62, 62);
  }
}

/*# sourceMappingURL=style.css.map */
