@use "color";

@media only screen and (min-width: 821px) {

html{font-size: calc(.6vw + .6vh);}

@font-face {
    font-family: "DyslexicFont";
    src: url("../resources/fonts/OpenDyslexic/OpenDyslexic-Regular.otf");
}

body{
    font-family: "DyslexicFont";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: color.get('dark');
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    > .img{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        img{
            position: absolute;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
        img:first-of-type{
            z-index: -10;
        }
        img:last-of-type{
            z-index: -9;
        }
    }
    .banner{
        width: 40%;
        height: 100%;
        position: relative;
        > .titels{
            text-align: center;
            width: 100%;
            margin: 1rem 0rem;
            padding: 0;
            
            h1{
                width: 100%;
                font-size: 5rem;
                margin: 0;
            }
            hr{
                width: 60%;
                height: .3rem;
                background-color: #000;
                border-radius: .1rem;
                border-style: none;
                border-width: 0;
                margin: 0 auto;
            }
            h3{
                margin: 0 auto;
                width: 80%;
                font-size: 3rem;
            }
        }
    }
    > aside{
        width: 50%;
        height: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        > p, > form, > div{
            background-color: color.get("light");
            box-shadow: .5rem .5rem 0 color.get("secondary");
            font-size: 2rem;
            border-radius: .7rem;
            border-style: none;
            border-width: 0rem;
            margin: 1rem 0;
            padding: .5rem;
            width: calc(100% - 1rem);
        }
        > form{
            display: flex;
            flex-direction: column;
            > h5{
                margin: 0;
                text-align: center;
                width: 100%;
            }
            > button{
                width: 50%;
                margin: 1rem auto;
                font-size: 3rem;
                height: 4rem;
                background-color: #c9c9c9;
                &:hover{
                    background-color: #c9c9c9;
                }
            }
        }
        button{
            background-color: #d9d9d9;
            box-shadow: .5rem .5rem 0 color.get("secondary");
            font-family: "DyslexicFont";
            border-radius: .7rem;
            border-style: none;
            border-width: 0rem;
            margin: 1rem 0;
            width: 100%;
            height: 6rem;
            font-size: 4.8rem;
            line-height: 1em;
            transition: background-color .6s, box-shadow .8s, height .5s ease, color .6s;
            
            &:hover{
                height: 7rem;
                background-color: #d9d9d9;
                box-shadow: 1rem 1rem 0 color.get("secondary");
                color: rgb(62, 62, 62);
            }
        }
        table{
            border-collapse: collapse;
            tr{
                td, th {
                    border: 2px black solid;
                    > input{
                    width: 100%;
                    height: 100%;
                    }
                }
            }
        }
    }
    > nav{
        position: absolute;
        z-index: 10;
        width: 40%;
        bottom: 1rem;
        left: 0;
        > ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            > li{
                width: 33%;
                margin: 0 .5rem;
                display: flex;
                justify-content: center;
                background-color: #d9d9d9   ;
                border-radius: 1rem;
                box-shadow: .5rem .5rem 0 color.get("primary");
                transition: background-color .6s, box-shadow .8s, width .5s ease;
                a{
                    text-decoration: none;
                    color: black;
                    transition: color .6s;
                }
                span{
                    font-size: 10rem !important;
                }
                &:hover{
                    width: 45%;
                    background-color: #d9d9d9;
                    box-shadow: 1rem 1rem 0 color.get("secondary");
                    a{
                        color: rgb(62, 62, 62);
                    }
                }
            }
        }
    }
}
}